@(course: Course, questionForm: Form[String], email: Option[String], 
firstname: Option[String], lastname: Option[String])

@import helper._

@main("course.title") {
  <header>
    @email match {
      case Some(email) => {
        <span>@firstname</span> <span> </span> <span>@lastname</span> <a href="@routes.Application.logout">Logout</a>
      }
      case None        => {
        <a href="@routes.Application.login">Login</a>
      }
    }
  </header>

  <h1>@course.title</h1>
  
  <ul>
    @course.questions.map { question =>
      <li>
	@question.workstationId @if(question.answered) { (answered) }
	
	@form(routes.Application.deleteQuestion(question.id)) {
	  <input type="submit" value="Delete">
	}
  @form(routes.Application.setQuestionAsAnswered(question.id)) {
    <input type="submit" value="Mark as answered">
  }
      </li>
    }
  </ul>
  
  <h2>J'ai une question!</h2>
  
  @form(routes.Application.newQuestion) {
     
     @inputText(questionForm("workstationId"))
     
     <input type="submit" value="Create">
     
   } 
}